body{
    background-color: rgb(52, 51, 51);
    margin-top: 200px;
    color: rgb(60, 66, 71);
    

}
.logo{   
    margin-bottom: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.search{ 
    line-height: 24px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid black;

}
.two{
    /*flexbox*/
    display: flex;
    justify-content: center;
    
}
.btn{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding:8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px transparent ;
    background-color: rgb(247, 241, 241) ;
    border-radius: 4px ;
    font-size: 14px;
}
